{% extends 'base.html' %}
{% block content %}
<nav class="navbar fixed-bottom navbar-light bg-primary">
  <a href="/resultados.html" class="nav-link" role="button"> 
    <i class="bi bi-bar-chart-line" style="font-size: 2rem; color: white"></i>
  </a>
  <a href="/visitantes.html">
    <i class="bi bi-person-plus" style="font-size: 2rem; color: white"></i>
  </a>
  <a href="*">
    <i class="bi bi-camera" style="font-size: 2rem; color: white"></i>
  </a>
  <a href="/bitacora.html">
    <i class="bi bi-journal-text" style="font-size: 2rem; color: white"></i>
  </a>
</nav>
{%endblock%}
