{% extends 'base.html' %}

{% block content %}
  <h2 class="text-center">RESULTADOS</h2>
  <div class="container-fluid text-center" style="margin-bottom: 7rem;">
    <div class="row">
      <div class="col-sm">
        <img src="{{ url_for('horaE') }}" alt="Image Placeholder" class="img-fluid">
        <img src="{{ url_for('horaS') }}" alt="Image Placeholder" class="img-fluid">
        <img src="{{ url_for('usuarios') }}" alt="Image Placeholder" class="img-fluid">
        <img src="{{ url_for('depa') }}" alt="Image Placeholder" class="img-fluid">
        <img src="{{ url_for('fecha') }}" alt="Image Placeholder" class="img-fluid">
        <img src="{{ url_for('dia') }}" alt="Image Placeholder" class="img-fluid">
      </div>
    </div>
  </div>
{%endblock%}