{%extends 'base.html'%}

{%block content%}
  <h2 class="text-center">Visitantes</h2>
  <div class="container">
    <form>
      <div class="card">
        <div class="card-body">
          <label for="name">Nombre</label>
          <input type="text" class="form-control" id="name" placeholder="Inserte su nombre">
  
          <label for="last_name">Apellidos</label>
          <input type="text" class="form-control" id="last_name" placeholder="Inserte sus apellidos">
  
          <div class="form-row">
            <div class="col">
              <label>Hora de Ingreso</label>
              <input type="text" class="form-control">
            </div>
            <div class="col">
              <label>Hora de Salida</label>
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label for="inputState">Tipo de usuario</label>
            <select id="inputState" class="form-control">
              <option selected>Colaborador/Estudiante</option>
              <option>Visitante</option>
            </select>
          </div>
          
<script>
let seleccionar = document.querySelector('select');
seleccionar.addEventListener('change', estatus);
function estatus() {
  let eleccion = seleccionar.value;

  if (eleccion === 'Colaborador/Estudiante') 
  {
    inputState.disabled=true;
  } 
  else if (eleccion === 'Visitante')
  {
    inputState.disabled=false;
  } 
}
</script>
      
          <div class="form-group">
            <label for="inputState">Área</label>
            <select class="custom-select">
              <option selected>Servicios Escolares</option>
              <option value="1">Vinculación</option>
              <option value="2">Rectoría</option>
              <option value="3">Cafetería</option>
              <option value="4">Laboratorios</option>
              <option value="5">SAC</option>
            </select>
          </div>
  
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Descripción(Opcional)</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div> 
          <button type="submit" class="btn btn-primary">Subir</button>
        </div>
      </div>   
    </form>
  </div>
{%endblock%}